<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <div class="card">
      <h3 ng-if="!isEdit">Add User</h3>
      <h3 ng-if="isEdit">Edit User</h3>

      <label>Name</label><br />
      <input type="text" ng-model="user.name" required /><br />

      <label>Phone</label><br />
      <input type="text" ng-model="user.phone" required /><br />

      <label>Address</label><br />
      <textarea ng-model="user.address"></textarea><br />

      <button ng-click="save()">Save</button>
      <a href="#!/list">Cancel</a>
    </div>
  </body>
</html>
